@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check your <a asp-page="/Admin/CategoryTypes/Index">Book Category Types</a>.</p>
    <p>Check your <a asp-page="/Admin/Categories/Index">Book Categories</a>.</p>
    <p>Check your <a asp-page="/Admin/Books/Index">Books</a>.</p>
</div>
